#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#selectedColor {
    
    color: white;
    padding: 8px;
}
.box{
    width: 300px;
    height: 300px;
}

h3, span {
    font-size: 30px;
    display: inline-block;
}